body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #03778E;
    width: 331px;
    font-size: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
}

.chat-container {
    width: 331px;
    height: 91%;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;

}

.chat-box {
    padding: 20px;
    flex: 1;
    overflow-y: auto;
}

.chat-input {
    display: flex;
    border-top: 1px solid #ddd;
}

.chat-input input {
    flex: 1;
    padding: 15px;
    border: none;
    outline: none;
    font-size: 16px;
}

.chat-input button {
    padding: 15px;
    background-color: #03778E;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.chat-message {
    margin-bottom: 20px;
    border: 1px solid rgb(217, 217, 217);
    padding: 15px;
    border-radius: 20px;
}

.user-message {
    text-align: right;
    color: #03778E;
}

.bot-message {
    text-align: left;
    color: #555;
}